---
# noqa: package-latest
- name: Ensure pipx is installed
  ansible.builtin.pip:
    name: pipx
    state: latest
  environment:
    PIP_BREAK_SYSTEM_PACKAGES: "1"
  when: install_pipx is true

- name: Install Pipx Packages
  community.general.pipx:
    name: "{{ item.key }}"
    source: "{{ item.value | default(omit) }}"
    state: latest
  loop: "{{ install_pipx_packages | dict2items }}"
  when: install_pipx_packages is defined
